#budgetComponent {
  background-color: green;
  display: flex;
  flex-direction: row;
}

#budgetComponent > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#budgetComponent p {
  margin: 0;
}